/* Server Boost Status Fix */
.theme-dark .tierHeaderLocked-1a2opw{
    background: var(--nox-level3)
}
.tierBody-x9kBBp{
    background: var(--nox-level1)!important;
}
.tier-3H4BXk {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.03) inset
}
.theme-dark .background-3xPPFc{
    color: var(--nox-level1)!important;
}
.theme-dark .tierInProgress-3mBoXq{
    background: var(--nox-level1)!important;
}
.theme-dark .tierDefault-2qaRkD{
    background: var(--nox-accent)!important;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.theme-dark .foreground-2EIns2{
    color: var(--nox-accent);
}
/* Tab Item */
.item-PXvHYJ[style='color: rgb(114, 137, 218);']{
    color: var(--nox-accent)!important;
}
.item-PXvHYJ:hover[style='color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.1);']{
    background-color: rgba(255, 255, 255, 0.05)!important;
    color: var(--nox-white)!important;
}
.item-PXvHYJ[style='color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);']{
    background-color: var(--nox-accent)!important;
    color: var(--nox-white);
}
/* End Fix */
